<section>
  <div>
    <div>
      <div
        class="flex gap-3 border text-center border-black w-fit rounded-full py-0.5 px-0.5"
      >
        <a
          class="bg-fuchsia-800 rounded-full px-4 py-1 text-white font-sans uppercase"
          href="#"
          ><p>astro 1.0 is here</p>
        </a>
        <a class="uppercase text-center font-sans flex items-center" href="#"
          ><p>read the launch post</p>
        </a>
      </div>

      <h1>build faster websites.</h1>
      <p>
        Pull content from anywhere and serve it fast with Astro's next-gen
        island architecture.
      </p>
      <button>get started</button><button> npm crete astro</button>
    </div>
    <div>
      <h2>rebuilt my blog with astro out of curiosity...</h2>
    </div>
  </div>
</section>
